<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardunioSerial.crux">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ok2"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ok2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity android:name="com.ardunioSerial.crux.ui.Activity.NewlineActivity" />
        <activity
            android:name="com.ardunioSerial.crux.ui.Activity.RobotSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ardunioSerial.crux.ui.Activity.RobotcontrolActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ardunioSerial.crux.ui.Activity.GraphControlActivity" />
        <activity android:name="com.ardunioSerial.crux.ui.Activity.ButtonControlActivity" />
        <activity
            android:name="com.ardunioSerial.crux.ui.Activity.DeviceListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ardunioSerial.crux.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>